main
{
    background-color: grey;
}
h1
{
    color: green;
    font-family: Tahoma;
}

.color-1 { color: #FF6B6B; }
.color-2 { color: #4ECDC4; }
.color-3 { color: #FFD166; }
.color-4 { color: #06D6A0; }
.color-5 { color: #118AB2; }
.color-6 { color: #073B4C; }
.color-7 { color: #EF476F; }
.color-8 { color: #7209B7; }
.color-9 { color: #F72585; }
.color-10 { color: #3A86FF; }


body {
    height: 2000px;
    padding: 20px;
}
.go-down {
    position: fixed;
    top: 20px;
    left: 20px;
    background: blue;
    color: white;
    padding: 10px;
    text-decoration: none;
}
#bottom {
    margin-top: 1800px;
    padding: 50px;
    background: lightgray;
}